.exit-btn{
	position: absolute;
	right: 10px;
}

.exit-btn button{
	width: 100px;
	background: orange;
	color: yellow;
}

.title{
    padding: 12px 8px;
    background-color: red;
    width: 180px;
    max-width: 250px;
    border-radius: 16px;
    font-size: 30px;
}